<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>874036580079-pqm7tih2hckc8kbicts45fdbhmeilli2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.874036580079-pqm7tih2hckc8kbicts45fdbhmeilli2</string>
	<key>API_KEY</key>
	<string>AIzaSyCcPbh-D0gY0xr2CWL13t9wIoKDgyj2B0Y</string>
	<key>GCM_SENDER_ID</key>
	<string>874036580079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mayaki.rexcalc</string>
	<key>PROJECT_ID</key>
	<string>calculator-app-762a3</string>
	<key>STORAGE_BUCKET</key>
	<string>calculator-app-762a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874036580079:ios:a13f3d679332a1d34c151a</string>
</dict>
</plist>